<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Playground - Intro Vue 3</title>
  </head>
  <body>
    <h1>Hello Playground</h1>

    <div id="app">
      <h2>Contatore</h2>

      <p :data-increment-by="incrementAmount">Contatore: <b>{{count}}</b></p>

      <div>
        <label for="incrementAmountRef">Valore incrementale</label>
        <!-- <input id="incrementAmountRef" v-model="incrementAmount" type="text"> -->
        <input id="incrementAmountRef" v-model="incrementAmount" type="number" />
      </div>

      <!-- <button v-on:click="incrementCount" type="button">Incrementa</button> -->
      <button @click="incrementCount" type="button">Incrementa</button>

      <hr />

      <h2>Aggiunti utente</h2>

      <fieldset>
        <legend><b>Nuovo utente</b></legend>

        <label for="userFullName">Nome completo:</label>
        <input @keyup.enter="handleAddNewUser" v-model="newUserModel.fullName" id="userFullName" type="text" />

        <p>
          <button @click="handleAddNewUser" type="button">Salva</button>
        </p>
      </fieldset>

      <pre>{{newUserModel}}</pre>

      <hr />

      <h2 v-if="message.includes('!')">{{message.toUpperCase()}}</h2>
      <p v-else>{{message}}</p>

      <h3>Totale utenti <b>{{listOfUsers.length}}</b></h3>

      <ul v-if="listOfUsers.length > 0">
        <li v-for="(user, index) in listOfUsers">
          <h3>{{user.fullName}}</h3>
          <!-- <p>Index: {{index}}</p> -->
          <p v-if="index == 0">Primo utente</p>
          <p v-else-if="index == listOfUsers.length - 1">Ultimo utente</p>

          <p>Lavoro: {{user.job}}</p>

          <p>Animali:</p>
          <ul>
            <li v-for="animal in user.animals">{{animal}}</li>
          </ul>
        </li>
      </ul>
      <p v-else>Non ci sono utenti nella lista</p>
    </div>

    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script>
      const { createApp } = Vue

      const app = createApp({
        data() {
          return {
            // Contatore
            count: 0,
            incrementAmount: 2,
            // Utenti
            newUserModel: {
              fullName: '',
            },
            message: `Lista degli utenti!`,
            listOfUsers: [
              {
                id: '593404fd-d696-4234-9efa-662530c79957',
                fullName: `Willard Berge`,
                job: `Technician`,
                animals: ['cat', 'dog', 'rabbit', 'turtle'],
              },
              {
                id: 'b6180b54-fac9-40d6-921a-62a6c52debae',
                fullName: `Chelsey Boehm`,
                job: `Designer`,
                animals: ['cat', 'dog', 'rabbit', 'turtle'],
              },
              {
                id: '8176e77e-7293-44be-a0d0-6ed53b35f2bb',
                fullName: `Kayla O'Connell`,
                job: `Representative`,
                animals: ['cat', 'dog', 'rabbit', 'turtle'],
              },
              {
                id: 'c1fc68e4-64bd-45c5-a6fe-adce10044813',
                fullName: `Josefa Hansen`,
                job: `Strategist`,
                animals: ['cat', 'dog', 'rabbit', 'turtle'],
              },
              {
                id: 'ed4d3782-a00e-49cb-8d67-3f389c959317',
                fullName: `Elise Gulgowski`,
                job: `Designer`,
                animals: ['cat', 'dog', 'rabbit', 'turtle'],
              },
              {
                id: '0b809827-2ef5-4210-afd0-ef0556fc3c4d',
                fullName: `Margarita Batz`,
                job: `Liaison`,
                animals: ['cat', 'dog', 'rabbit', 'turtle'],
              },
              {
                id: 'd183eaba-9f3c-4627-818f-8811171b6bd0',
                fullName: `Madonna Runolfsdottir`,
                job: `Assistant`,
                animals: ['cat', 'dog', 'rabbit', 'turtle'],
              },
              {
                id: 'd427da72-b840-4f42-8ca7-5ed8e55a8084',
                fullName: `Lysanne McCullough`,
                job: `Assistant`,
                animals: ['cat', 'dog', 'rabbit', 'turtle'],
              },
              {
                id: 'f83feda7-1581-4747-bc4d-e065c246e6f6',
                fullName: `Matilda Nikolaus`,
                job: `Representative`,
                animals: ['cat', 'dog', 'rabbit', 'turtle'],
              },
              {
                id: 'b3ec3a84-5647-48ac-a586-68ea6a306dc3',
                fullName: `Maud Rutherford`,
                job: `Consultant`,
                animals: ['cat', 'dog', 'rabbit', 'turtle'],
              },
              {
                id: '1dc30352-6c37-4010-876f-d40d733b5c09',
                fullName: `Golden Pfannerstill`,
                job: `Associate`,
                animals: ['cat', 'dog', 'rabbit', 'turtle'],
              },
              {
                id: '04d42d14-d665-4172-bfa1-94914b36c26d',
                fullName: `Lavada Kohler`,
                job: `Planner`,
                animals: ['cat', 'dog', 'rabbit', 'turtle'],
              },
              {
                id: 'd7a001e6-86f5-42d3-89b9-9768b9c58258',
                fullName: `Valentin Koch`,
                job: `Representative`,
                animals: ['cat', 'dog', 'rabbit', 'turtle'],
              },
            ],
          }
        },
        methods: {
          incrementCount(...args) {
            // console.log(this);
            // console.log(args)
            // this.count += 1
            this.count += this.incrementAmount
          },
          handleAddNewUser() {
            const newUser = {
              id: '7aff2c49-ad1f-4ebf-80b7-70bb23928558',
              fullName: this.newUserModel.fullName,
              job: '',
              animals: [],
            }
            this.listOfUsers.splice(0, 0, newUser)
            this.newUserModel.fullName = ''
          },
        },
      })

      app.mount('#app')
    </script>
  </body>
</html>
